.firstSlide {
  display: flex;
  border-bottom: 1px solid rgba(60, 60, 60, 0.2);

  @media (width < 768px) {
    background-image: url("/pngs/homepageSlider1.png");
    width: 100%;
    height: 720px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.radianceBegin {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 6vw;
  gap: 34px;
  flex: 3;

  @media (width < 1248px) {
    padding: 48px 0 0 4vw;
    gap: 24px;
  }

  @media (width < 1024px) {
    padding: 36px 0 0 2vw;
  }

  @media (width < 768px) {
    max-width: 360px;
    padding: 30px 0 16vh 2vw;
    gap: 57px;
  }
}

.titleTopSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;

  @media (width < 768px) {
    gap: 8px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 10px;
}

.svg {
  width: 90%;
  min-height: 360px;
  background-size: contain;
  background-repeat: no-repeat;

  @media (width < 1248px) {
    width: 100%;
    min-height: 280px;
  }

  @media (width < 1024px) {
    width: 100%;
    min-height: 240px;
  }

  @media (width < 768px) {
    width: 100%;
    min-height: 200px;
  }
}

.subTitle {
  font-size: 38px;
  color: #56453f;

  @media (width < 1024px) {
    font-size: 28px;
  }

  @media (width < 768px) {
    font-size: 20px;
  }
}

.infoTextWrapper {
  width: 48vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  @media (width < 768px) {
    width: 70%;
    gap: 16px;
    justify-content: center;
  }
}

.infoText {
  font-size: 22px;
  text-align: left;
  color: #b36a66;

  @media (width < 768px) {
    font-size: 16px;
  }
}

.buttons {
  display: flex;
  gap: 22px;

  @media (width < 768px) {
    width: 100%;
    gap: 16px;
    flex-direction: column;
  }
}

.img {
  background-image: url("/pngs/homepageSlider1.png");
  height: 92vh;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 2;

  @media (width < 1280px) {
    flex: 3;
  }

  @media (width < 768px) {
    display: none;
  }
}
