.title_block {
  background-image: url("./pngs/allTreatmentsTitleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.5px solid #3c3c3c;
}

.title_text_block {
  width: 100%;
}

.title_image {
  background-image: url("./pngs/allTreatmentsTitleImg.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 55%;
  height: 440px;
}
