.title_block {
  background-image: url("/webpImages/allTreatmentsTitleBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 100vw;
  height: 440px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.5px solid #3c3c3c;

  @media (width <= 768px) {
    background-image: url("/webpImages/allTreatmentsTitleImg.webp");
    background-position: center;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
  }

  @media (width < 506px) {
    background-size: cover;
  }
}

.title_text_block {
  width: 50%;

  @media (width < 1024px) {
    width: 40%;
  }

  @media (width <= 768px) {
    width: 100%;
    text-align: center;
    margin-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.699);
  }
}

.title_image {
  background-image: url("/webpImages/allTreatmentsTitleImg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50%;
  height: 100%;

  @media (width < 1024px) {
    width: 60%;
    background-size: cover;
  }

  @media (width <= 768px) {
    height: 340px;
    background-image: none;
  }
}
