.expertCard {
  width: 100%;
  margin: 15px 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (width <= 1024px) {
    margin: 15px 10px 0;
  }
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 768px) {
  .expertCard {
    width: 100%;
    padding: 20px 0 50px;
    margin: 0;
    background-color: #f9eae3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
  }
}
