.titleBlock {
  width: 100%;
  padding: 0 5.6vw;
  text-align: left;
}

.titleWrapper {
  width: 100%;
}

.topSideContent {
  width: 100%;
  height: 636px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 1.1vw;
  background-image: url("/pngs/aboutPageTop.png");
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: right;
}

.descriptionWrapper {
  width: 27.7vw;
  height: min-content;
  display: flex;
  text-align: center;
  padding: 58px 39px;
  gap: 10px;
  background-color: #b36a66;
}

.description {
  font-size: 18px;
  color: #fff6f5;
}
