.treatmentPageCard {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #afafaf;
  color: #3c3c3c;
  margin-bottom: 25px;
}

.textBlock {
  width: 100%;
  text-align: left;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.descriptionAndTitleBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  font-size: 16px;
}

.priceAndButtonBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw;
  color: #8a4f4c;
}

.durationAndPriceBlock {
  display: flex;
  gap: 1.4vw;
}

.durationAndPriceBlock span {
  font-size: 24px;
}
