.treatmentPageCards {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  border: solid 1px #3c3c3c;
  margin: 0 auto;
}
.textBlock {
  width: 100%;
  text-align: left;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.descriptionAndTitleBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.priceAndButtonBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw;
  color: #8a4f4c;
}
.durationAndPriceBlock {
  display: flex;
  gap: 2vw;
}
