.home_treatment_card {
  width: 20%;
  min-width: 200px;
  height: 680px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #3c3c3c;

  @media (width < 768px) {
    width: 100%;
    justify-content: center;
  }

  &&:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);

    @media (width < 768px) {
      width: 100%;
    }
  }
}

.home_treatment_card::before {
  @media (width < 768px) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

.gradient {
  width: 100%;
  height: 30vh;
  background: linear-gradient(to top, #ffffffc0, #fae5e300);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
}

.treatment_name_and_button {
  position: relative;
  bottom: -34vh;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;

  @media (width < 1280px) {
    bottom: -32vh;
  }

  @media (width < 768px) {
    max-width: 100%;
    gap: 210px;
    bottom: -15px;
  }
}

.treatment_name {
  font-size: 20px;
  color: #3c3c3c;

  @media (width < 768px) {
    font-size: 36px;
    color: rgba(246, 238, 225, 0.65);
  }
}

.buttonWrapper {
  &&:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* X Y Blur Color */
  }
}

.sliderButtons {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}
