.home_treatment_card {
  width: 20%;
  height: 680px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  &&:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* X Y Blur Color */
  }
}

.treatment_name_and_button {
  position: relative;
  bottom: -15px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.treatment_name {
  font-size: 20px;
}

.buttonWrapper {
  &&:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* X Y Blur Color */
  }
}
