.homeOurExperts {
  width: 100%;
  display: flex;
  background-color: rgba(179, 106, 102, 0.1);

  @media (width < 768px) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.homeOurExperts > .expert {
  width: 33%;
}

.homeOurExperts > .location {
  width: 67%;
  height: 680px; /* TODO */
  display: flex;
  align-items: center;
  margin-left: 1.7vw;
  background-image: url("/jpgs/ourLocation.jpg");
  background-position: 0%;
  background-repeat: no-repeat;

  @media (width < 768px) {
    margin-left: 0;
    width: 100%;
    height: 536px;
  }
}

.locationTextWrapper {
  height: -webkit-fill-available;
  margin: 18.5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (width < 768px) {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0 24px;
    color: currentColor;
  }
}

.address {
  color: #fff;
  font-size: 20px;
}

.locationImg {
  width: 100%;
  height: 100%;
}
