.expertCardSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.slidesContainer {
  width: 30vw;
  overflow: hidden;
  background-color: transparent;
}

.slides {
  width: 67vw;
  height: 580px;
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
}

.slide {
  width: 33vw;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vw;
  background-color: transparent;
}

.expertCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -50px;
}

.expertName {
  font-size: 20px;
  color: #3c3c3c;
}

.expertProfession {
  font-size: 16px;
  color: #3c3c3c;
}

.expertCardSliderImg {
  display: flex;
  gap: 6px;
}

.arrowButton {
  all: unset;
  z-index: 2;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.arrowActive {
  opacity: 1;
}
