.swiperContainer {
  @media (width < 768px) {
    width: 100%;
  }
}
.slide {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1vw;
  background-color: transparent;

  @media (width < 1024px) {
    margin-left: 0;
    width: 100%;
    height: 530px;
    background-position: center;
  }

  @media (width < 768px) {
    width: 100%;
    height: 576px;
    background-position: center;
  }
}

.expertCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (width < 768px) {
    width: 100%;
    height: inherit;
    background-color: rgba(138, 79, 76, 0.8);
    color: #fff;
    margin: 0;
    padding: 8px 0;
  }
}

.expertName {
  font-size: 20px;
  color: #3c3c3c;
}

.expertProfession {
  font-size: 16px;
  color: #3c3c3c;
}
