.title {
  color: #b36a66;
  font-size: 42px;
  text-align: left;
}

.title_white {
  color: #fff;
}

.title_textColor {
  color: #3c3c3c;
}

.title_textColor_36 {
  font-size: 36px;
}

.title_textColor_30 {
  font-size: 30px;
}

.title_textColor_24 {
  font-size: 24px;
}

.title_20 {
  font-size: 20px;
}

.title_24 {
  font-size: 24px;
}

.title_28 {
  font-size: 28px;
}

.title_32 {
  font-size: 32px;
}

.title_32_white {
  font-size: 32px;
  color: #fff;
}

.title_40 {
  font-size: 40px;
}

.title_48 {
  font-size: 48px;
}

.title_36 {
  font-size: 36px;
}

.title_h1_120 {
  font-size: 120px; /* For About page */
}

.title_h1_124 {
  font-size: 124px; /* For Error page (Mobile)*/
}

.title_h1_152 {
  font-size: 152px; /* For Error page (Tablet)*/
}

.title_h1_170 {
  font-size: 170px; /* For Error page */
}

.title_h1_96 {
  font-size: 96px; /* For All Treatments page */
}

.title_h1_86 {
  font-size: 86px; /* For Single Treatment page */
}

.title_h1_82 {
  font-size: 82px; /* For All Treatments page */
  letter-spacing: 10px;
}

.title_h1_72 {
  font-size: 72px; /* For Single Treatment and All Treatments page (Tablet Large) */
}

.title_h1_60 {
  font-size: 60px; /* For Single Treatment and All Treatments page (Tablet Small) */
}

.title_h1_40 {
  font-size: 40px; /* For All Treatments page (Mobile) */
  color: #8a4f4c;

  @media (width < 768px) {
    text-align: center;
  }
}

.title_h1_36 {
  font-size: 36px; /* For Single Treatment page (Mobile) */
}
