.title {
  color: #b36a66;
  font-size: 42px;
}

.title_white {
  color: #fff;
}

.title_textColor {
  color: #3c3c3c;
}

.title_28 {
  font-size: 28px;
}

.title_32 {
  font-size: 32px;
}

.title_h1_120 {
  font-size: 120px; /* For About page */
}

.title_h1_96 {
  font-size: 96px; /* For All Treatments page */
}

.title_h1_75 {
  font-size: 75px; /* For All Treatments page */
  letter-spacing: 10px;
}
