.aboutBookAConsultation {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 56px;

  @media (width < 1024px) {
    width: 100%;
    padding: 38px 16px;
    z-index: 1;
  }
}

.text {
  font-size: 28px;
  color: #fae5e3;

  @media (width <= 1280px) {
    font-size: 24px;
  }

  @media (width <= 1024px) {
    font-size: 20px;
  }

  @media (width < 768px) {
    font-size: 18px;
  }
}
