.aboutPageBottomSide {
  position: relative;
  width: 100%;
  height: 255px;
  display: flex;
  background-color: #8a4f4c;
  align-items: center;
  margin: 50px 0;

  @media (width < 1024px) {
    height: 340px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  @media (width < 768px) {
    height: 240px;
  }
}

.aboutPageBottomSideBefore::before {
  @media (width < 768px) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}

.aboutBookAConsultationImg {
  width: 50%;
  height: 125%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
