.botoxTreatments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.botoxTreatmentsTopSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chooseBy {
  display: flex;
  gap: 50px;
}

.pdoTitle {
  font-size: 28px;

  @media (width <= 1280px) {
    font-size: 24px;
  }

  @media (width <= 1024px) {
    font-size: 20px;
  }

  @media (width <= 768px) {
    font-size: 18px;
  }
}

.underline {
  border-bottom: 2px solid #3c3c3c;
}

.textBlock {
  width: 70vw;
  text-align: left;
}

.pdoText {
  font-size: 18px;
}

.botoxTreatmentsBookButton {
  margin: 0 auto;
}
