.li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menuItem {
  all: unset;
  width: 100%;
  min-width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.treatments {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  max-width: 182px;
  padding-top: 12px;
  gap: 4px;
}

.seeAll {
  font-size: 16px;
  color: #3c3c3c;
  padding: 6px 60px 10px;
}

.itemName {
  font-size: 20px;
  color: #3c3c3c;
  opacity: 0.75;
}

.redirectLink {
  text-decoration: none;
}

.openedDropdown {
  border: 0.1px solid #3c3c3c;
  border-top: none;
}
