.li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menuItem {
  all: unset;
  width: 100%;
  min-width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  @media (width < 1024px) {
    min-width: 120px;
    gap: 4px;
  }
}

.arrowIcon {
  height: 22px;
}

.treatments {
  display: flex;
  flex-direction: column;
  background-color: #ffedebf0;
  max-width: 182px;
  padding-top: 12px;
  gap: 4px;
}

.seeAll {
  font-size: 16px;
  color: #3c3c3c;
  margin: 6px auto 10px;

  @media (width < 1024px) {
    font-size: 12px;
  }
}

.itemName {
  font-size: 20px;
  color: #3c3c3c;
  opacity: 0.75;

  @media (width <= 1280px) {
    font-size: 16px;
  }

  @media (width < 768px) {
    font-size: 18px;
  }
}

.redirectLink {
  text-decoration: none;
}

.openedDropdown {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.1);
  border-top: none;
}
