.slideWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.fadeSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.activeSlide {
  opacity: 1;
  z-index: 1;
  position: relative;
}

.slideBtn {
  width: 17px;
  height: 17px;
  background: #cc9f93;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 0;
}

.sliderButtons {
  display: flex;
  gap: 12px;
  position: absolute;
  left: 48.5vw;
}

.active {
  background-color: #56453f;
}
