.radianceBegin {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 250px;
  gap: 144px;
}

.radianceBegin_left {
  margin-left: 2.5vw;
}

.radianceBegin_right {
  margin-right: 3.5vw;
  align-items: end;
}

.slideWrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.fadeSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.homeSlider {
  width: 100%;
  height: 100vh;
}

.activeSlide {
  opacity: 1;
  z-index: 1;
  position: relative;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.titleWrapper_right {
  align-items: end;
}

.infoTextWrapper {
  width: 48vw;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoTextWrapper_left {
  align-items: start;
}

.infoTextWrapper_right {
  align-items: end;
}

.infoText {
  font-size: 22px;
  text-align: left;
  color: #b36a66;
}

.subTitle {
  font-size: 38px;
  color: #56453f;
}

.img {
  position: absolute;
  width: 38%;
}

.img1 {
  top: 0;
  right: 0;
}

.img2 {
  top: 0;
  left: 0;
}

.slideBtn {
  width: 17px;
  height: 17px;
  background: #cc9f93;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 0;
}

.buttons {
  height: 54px;
  display: flex;
  gap: 11px;
}

.active {
  background-color: #56453f;
}
