.slideWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.fadeSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.activeSlide {
  opacity: 1;
  z-index: 1;
  position: relative;
}
