.customer_review_card {
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 16px;
  width: 37vw;
  padding: 42px 46px 38px;
  position: relative;
  text-align: left;
}

.comma_left {
  position: absolute;
  top: -40px;
  left: -10px;
}

.comma_right {
  position: absolute;
  bottom: -45px;
  right: -20px;
}

.reviewer_name {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  .customer_review_card {
    width: 85vw;
    padding: 24px 20px 28px;
    font-size: 14px;
  }

  .reviewer_name {
    font-size: 16px;
  }
}
