.customer_review_card {
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 16px;
  width: 37vw;
  padding: 42px 46px 38px;
  position: relative;
  text-align: left;

  @media (width < 1280px) {
    width: 85vw;
    padding: 24px 20px 28px;
  }
}

.comma_left {
  position: absolute;
  top: -40px;
  left: -10px;
}

.comma_right {
  position: absolute;
  bottom: -45px;
  right: -20px;
}

.description {
  font-size: 18px;
  color: #3c3c3c;
}

.reviewer_name {
  text-align: right;
  font-size: 20px;
}

@media (width < 768px) {
  .customer_review_card {
    width: 90vw;
    font-size: 14px;
    padding: 20px 18px 24px;
  }

  .reviewer_name {
    font-size: 16px;
  }
}
