.patientsResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 3.3vw;
  gap: 24px;

  @media (width < 768px) {
    padding: 0 0.6vw;
  }
}

.patientsResultsContent {
  display: flex;
  gap: 24px;
}

.imgs {
  display: flex;
  height: 383px;

  @media (width < 1280px) {
    height: 300px;
  }

  @media (width < 1024px) {
    height: 240px;
  }

  @media (width < 768px) {
    height: 250px;
  }
}

.treatmentResult {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.result1 {
  flex: 1;
}

.result2 {
  flex: 1;
}

.img {
  width: 20vw;
  background-size: contain;
  background-repeat: no-repeat;

  @media (width < 768px) {
    width: 50%;
  }
}

.beforeImg1 {
  background-image: url("/pngs/beforeImg1.png");
  background-position: right;
}

.afterImg1 {
  background-image: url("/pngs/afterImg1.png");
  background-position: left;
}

.beforeImg2 {
  background-image: url("/pngs/beforeImg2.png");
  background-position: right;
}

.afterImg2 {
  background-image: url("/pngs/afterImg2.png");
  background-position: left;
}

.beforeTextWrapper,
.afterTextWrapper {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(179, 106, 102, 0.6);
  padding: 3px 15px;
  margin: 7px;

  @media (width < 768px) {
    margin: 0 auto;
  }
}

.text {
  color: #f6e2de;
  font-size: 18px;
}

.treatmentName {
  font-size: 20px;
  color: #3c3c3c;
}
