.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.titleWrapper {
  margin-left: 3.3vw;
}

.emailForm {
  width: 28.5vw;
  height: 48px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
}

.emailInput {
  width: -webkit-fill-available;
  border: none;
  background-color: #fff6f5;
  padding: 12px 24px;
}

.divider {
  width: 92%;
  height: 1px;
  margin: 0 auto;
  background-color: #b36a66;
}
