.consultationFormWrapper {
  width: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 36px 22px 40px;
  background-color: #f4eae991;

  @media (width < 1280px) {
    padding: 28px 18px 16px;
    gap: 16px;
  }

  @media (width < 1024px) {
    padding: 20px 12px 12px;
    gap: 12px;
  }

  @media (width < 768px) {
    width: 100%;
    padding: 18px 12px;
    gap: 12px;
  }
}

.description {
  font-size: 16px;
  color: #3c3c3cdd;
  text-align: center;

  @media (width < 1280px) {
    font-size: 12px;
  }

  @media (width < 768px) {
    font-size: 10px;
    text-align: left;
    margin-bottom: 16px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  @media (width < 1280px) {
    gap: 24px;
  }

  @media (width < 1024px) {
    gap: 16px;
  }

  @media (width < 768px) {
    gap: 12px;
  }
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width < 1280px) {
    gap: 12px;
  }

  @media (width < 768px) {
    gap: 12px;
  }
}

.input {
  width: 100%;
  height: 37px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 12px 24px;
  background-color: #f4eae9;
  border: none;
  font-size: 16px;

  @media (width < 1280px) {
    font-size: 14px;
    padding: 8px 16px;
    height: 32px;
  }

  @media (width < 1024px) {
    font-size: 12px;
    padding: 4px 12px;
    height: 28px;
  }
}

.form button {
  width: 50%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width < 1024px) {
    height: 36px;
  }

  @media (width < 768px) {
    height: 32px;
  }
}

.errorInput {
  border: 1px solid #ff5f56;
}

.error {
  color: #ff5f56;
  font-size: 12px;
  margin-top: 4px;
}
