.homeAllTreatments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.titleWrapper {
  margin-left: 3.3vw;
}

.treatmentsContainer {
  display: flex;
}
