.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  margin-bottom: 50px;

  @media (width < 768px) {
    margin: 60px auto;
  }
}

.titleWrapper {
  margin-left: 3.3vw;

  @media (width < 768px) {
    margin-left: 0;
    align-self: center;
  }
}

.emailForm {
  width: 30vw;
  height: 48px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;

  @media (width < 1024px) {
    width: 40vw;
  }

  @media (width < 768px) {
    width: 84%;
    gap: 32px;
  }
}

.emailInput {
  width: -webkit-fill-available;
  border: none;
  background-color: #fff6f5;
  padding: 12px 24px;
}

.divider {
  width: 92%;
  height: 1px;
  margin: 0 auto;
  background-color: #b36a66;

  @media (width < 768px) {
    width: 82%;
  }
}
