.singleTreatmentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 30px;
  padding: 20px 20px 0;

  @media (width < 1248px) {
    padding: 20px 46px 0;
    margin-top: 0;
  }
}

.singleTreatmentHeaderContent {
  width: 100%;
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.singleTreatmentHeaderBackGroundImg {
  width: 95%;
  height: 420px;
  background-image: url("/pngs/treatmentHeaderBgImg.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;

  @media (width < 1248px) {
    height: 400px;
  }

  @media (width < 1024px) {
    height: 350px;
  }

  @media (width < 768px) {
    height: 300px;
  }
}

.singleTreatmentHeaderTitle {
  margin-top: 100px;
  width: 60%;
  align-self: flex-end;
}

.singleTreatmentHeaderImage {
  width: 32%;
  position: absolute;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;

  @media (width <= 1280px) {
    width: 38%;
    background-size: contain;
  }
}

.divider {
  width: 100vw;
  height: 1px;
  background-color: rgba(60, 60, 60, 0.4);
}
