.favoriteTreatments {
  width: 100%;
  display: flex;
  gap: 20px;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
}

.favoriteTreatment {
  width: 33.333%;
  height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.favoriteTreatment button {
  width: 100%;
  height: auto;
}
