.WhenBlock {
  width: 100%;
  display: flex;
  background-color: #b36a66;
}

.WhenBlockQuestionWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 48px;
  gap: 16px;
}

.WhenBlockQuestionText {
  font-size: 36px;
  color: #fff6f5;

  @media (width < 1024px) {
    font-size: 30px;
  }
}

.whenBlockAnswersWithIcon {
  display: flex;
  text-align: start;
  align-items: self-start;
  gap: 10px;
}

.whenBlockAnswers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer {
  color: #fff6f5;
  font-size: 24px;

  @media (width < 1024px) {
    font-size: 18px;
  }
}

.answerDescription {
  color: #fff6f5;
  font-size: 17px;

  @media (width < 1024px) {
    font-size: 14px;
  }
}

.whenBlockImg {
  width: 55vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width < 1024px) {
    width: 100%;
    background-size: contain;
  }
}
