.footer {
  width: 100%;
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px 9vw;
  background: linear-gradient(to top, #763b38, #b36a66);
}

.topSideWithDivider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerTopSideWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4vw;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: white;

  @media (width < 768px) {
    width: 82%;
  }
}

.footerImg {
  width: 40vw;
  height: 448px;
  background-repeat: no-repeat;
  background-position: left;

  @media (width < 1024px) {
    width: 100%;
  }
}

.texts {
  color: white;
  padding: 16px 14vw;
}

.topSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.contacts {
  display: flex;
  gap: 8px;
}

.contactWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.phoneNumber {
  font-size: 16px;
}

.additionalContact {
  font-size: 14px;
}

.sitemapWrapper {
  display: flex;
  gap: 180px;
  padding: 20px;
}

.sitemap {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  text-align: start;
}

.sitemapTitle {
  font-size: 16px;
}

.sitemapItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  gap: 5px;
  font-size: 12px;
}

.openHours {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.hours {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.address {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.infoTitle {
  font-size: 16px;
}

.note {
  font-size: 14px;
}

.accessibility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 12px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 24px;
  text-decoration: none;
}

.logoSvg {
  width: 35vw;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
