.blogCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (width < 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (width < 768px) {
    gap: 40px;
  }

  @media (width < 506px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
