.homeSlider {
  width: 100%;
  display: flex;
}

.homeSliderRight {
  flex-flow: row-reverse;
}

.radianceBegin {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 135px;
  padding-bottom: 74px;
  gap: 114px;
  flex: 2;
}

.radianceBegin_left {
  margin-left: 2.5vw;
}

.radianceBegin_right {
  margin-right: 3.5vw;
  align-items: end;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.titleWrapper_left {
  align-items: start;
}

.titleWrapper_right {
  align-items: end;
}

.subTitle {
  font-size: 38px;
  color: #56453f;
}

.infoTextWrapper {
  width: 48vw;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoText {
  font-size: 22px;
  text-align: left;
  color: #b36a66;
}

.infoTextWrapper_left {
  align-items: start;
}

.infoTextWrapper_right {
  align-items: end;
}

.img {
  background-size: 100%;
  background-repeat: no-repeat;
  flex: 1;
}

.img1 {
  background-image: url("/pngs/homepageSlider1.png");
}

.img2 {
  background-image: url("/pngs/homepageSlider2.png");
}

.buttons {
  display: flex;
  gap: 24px;
}
