.treatments {
  display: flex;
  flex-direction: column;
  background-color: #ffedeb;
  max-width: 182px;
  padding-top: 12px;
  gap: 4px;
}

.seeAllButton {
  all: unset;
  padding: 6px 8px 10px;
  font-family: "poppins-semiBold";
  border-bottom: 0.5px solid #3c3c3c35;
  text-align: left;
  margin: 0 4px;
}
.seeAllText {
  font-size: 16px;
  color: #3c3c3c;
}
