.treatments {
  display: flex;
  flex-direction: column;
  background-color: #ffedeb7e;
  max-width: 182px;
  padding-top: 12px;
  gap: 4px;
}

.seeAll {
  all: unset;
  font-size: 18px;
  color: #3c3c3c;
  padding: 6px 40px 10px;
}
