.headerMobileWrapper {
  width: 100%;
  height: 288px;
  background-color: #e9ccca;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerMobileBgImage {
  width: 100%;
  height: 61%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-blend-mode: multiply;
  border-radius: 16px;
}

.treatmentImg {
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
}

.laserPageTreatmentImg {
  height: 130%;
}

.botoxPageTreatmentImg {
  width: 100%;
}
