.singleTreatmentDescriptionWrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 48px;

  @media (width < 768px) {
    margin: 0;
    padding: 4px 16px 10px;
  }
}

.singleTreatmentDescription {
  font-size: 20px;
  color: #3c3c3c;

  @media (width < 768px) {
    font-size: 14px;
  }
}
