.button {
  padding: 12px 24px;
  font-size: 20px;

  &&:hover {
    cursor: pointer;
  }

  @media (width <= 1280px) {
    padding: 8px 16px;
    font-size: 16px;
  }

  @media (width <= 1024px) {
    padding: 8px 11px;
  }

  @media (width <= 768px) {
    padding: 6px 10px;
    font-size: 14px;
  }
}

.slider_button,
.slider_button_light {
  width: 17px;
  height: 17px;
  background: transparent;
  color: #fff;
  border: 2px solid #8a4f4c;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 0;
}

.slider_button_light {
  background-color: transparent;
  border: 2px solid #ffedeb;
}

.slider_button_arrow {
  all: unset;
}

.active {
  background-color: #8a4f4c;
}

.active_light {
  background-color: #ffedeb;
}

.button_light_3 {
  background-color: #fff;
  color: #b36a66; /* rose3 */
  border: 1px solid #3c3c3c;
  padding: 8px 16px;
}

.button_light_4 {
  background-color: #fff;
  color: #8a4f4c; /* rose4 */
  border: 1px solid #3c3c3c;
  padding: 8px 16px;
}

.button_dark {
  background-color: #b36a66;
  color: #fff;
  border: 1px solid #b36a66;
  padding: 8px 16px;
}

.button_dark:hover {
  background-color: #8a4f4c;
  color: #fff;
  border: 1px solid #8a4f4c;
}

.button_light_transparent {
  background-color: transparent;
  color: #b36a66;
  border: 2px solid #b36a66;
}

.button_light_transparent:hover {
  border: 3px solid #8a4f4c;
}

.button_transparent {
  background-color: rgba(162, 112, 103, 0.7);
  color: #fff;
  z-index: 2;
  border: none;
  font-size: 28px;
}

.button_transparent_white {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #b36a66;
}

.button_weight_2 {
  border: 2px solid #8a4f4c;
  color: #8a4f4c;
}

.button_send {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  padding: 10.5px 14px;
  border: none;
  color: #fff;
  background-color: #b36a66;
}

.button_see_more {
  border: none;
  outline: none;
  color: #b36a66;
  background-color: transparent;
}

.button_redirect {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  padding: 10.5px 14px;
  border: none;
  color: #fff;
  background-color: #b36a66;
  border-radius: 50%;
}

.button_view_all {
  width: 100%;
  height: 32px;
  background-color: transparent;
  border: 1px solid #b36a66;
  color: #b36a66;
  font-size: 12px;
}
