.arrowButton {
  all: unset;
  z-index: 2;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 22;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.arrowActive {
  opacity: 1;
}
