.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px 0;
  gap: 10vw;

  @media (width <= 1280px) {
    padding: 16px 36px 0;
    gap: 8vw;
  }

  @media (width <= 1024px) {
    gap: 5vw;
    justify-content: space-between;
  }

  @media (width <= 768px) {
    justify-content: space-between;
    padding: 12px 12px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 24px;
  text-decoration: none;

  @media (width < 1024px) {
    padding-right: 0;
  }

  @media (width < 768px) {
    padding-right: 0;
    align-items: center;
    justify-content: center;
  }
}

.logoSvg {
  width: 14vw;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (width <= 1280px) {
    width: 20vw;
  }

  @media (width <= 768px) {
    width: 105px;
    height: 26px;
  }
}

.logoText {
  font-size: 16px;
  color: #3c3c3c;

  @media (width <= 1280px) {
    font-size: 14px;
  }

  @media (width <= 1024px) {
    font-size: 12px;
  }

  @media (width <= 768px) {
    font-size: 10px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneNumberWrapper {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;

  @media (width <= 1280px) {
    padding: 6px 9px;
  }
}

.phoneNumberLink {
  text-decoration: none;
}

.phoneNumber {
  font-size: 20px;
  color: #b36a66;

  @media (width <= 1280px) {
    font-size: 18px;
  }

  @media (width <= 1024px) {
    font-size: 16px;
  }

  @media (width <= 768px) {
    font-size: 14px;
  }
}
